table.signal {
    border-collapse: collapse;
    margin-left: auto; 
    margin-right: auto;
    borderspacing: 5px; /* cellspacing */
    margin-top: 50px;
    margin-bottom: 50px;
    border: 1px solid black;
    padding: 5px; /* cellpadding */
}

table.signal td {
    border: 1px solid black;
    padding: 5px; /* cellpadding */
}

table.signal th {
    border: 1px solid black;
    padding: 5px; /* cellpadding */
}
