table.marker {
    border-collapse: collapse;
    margin-left: auto; 
    margin-right: auto;
    borderspacing: 5px; /* cellspacing */
/*    margin-top: 50px; */
/*    margin-bottom: 50px; */
    border: 1px solid black;
    padding: 5px; /* cellpadding */
}

table.marker td {
    border: 1px solid black;
    padding: 5px; /* cellpadding */
}

table.marker th {
    border: 1px solid black;
    padding: 5px; /* cellpadding */
}
